<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.arloor.emarket.dao.ConsigneeMapper">
    <insert id="insertConsignee">
        insert into consignee(uname, addr, consignee, tel, zipcode)
        value (#{uname},#{addr},#{consignee},#{tel},#{zipcode})
    </insert>
    <update id="updateConsignee">
         update consignee set
    consignee=#{consignee},zipcode=#{zipcode},tel=#{tel},addr=#{addr}
    where uname=#{uname};
    </update>


    <select id="selectConsigneeByUname" resultType="com.arloor.emarket.domain.Consignee">
    select * from consignee where uname=#{uname};
  </select>
</mapper>