<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.arloor.emarket.dao.OrderMapper">
    <resultMap id="yundanInfoMap" type="com.arloor.emarket.model.YundanInfo">
        <id property="yundan" column="yundan"/>
        <result property="consignee" column="consignee"/>
        <result property="addr" column="addr"/>
        <result property="tel" column="tel"/>
        <collection property="yundanDetailList" select="com.arloor.emarket.dao.OrderMapper.selectYundanDetailsByYundan" column="yundan"/>
    </resultMap>

    <resultMap id="forSellerOrderInfo" type="com.arloor.emarket.model.ForSellerOrderInfo">
        <id property="oid" column="oid"/>
        <result property="sellerName" column="sellerName"/>
        <result property="yundan" column="yundan"/>
        <result property="time" column="time"/>
        <result property="addr" column="addr"/>
        <result property="consignee" column="consignee"/>
        <result property="tel" column="tel"/>
        <collection property="yundanInfoList" ofType="com.arloor.emarket.model.ForSellerYundanInfo">
            <id property="pid" column="pid"/>
            <result property="pname" column="pname"/>
            <result property="imageURL" column="imageURL"/>
            <result property="num" column="num"/>
            <result property="price" column="price"/>
        </collection>
    </resultMap>

    <insert id="insertOrder" keyProperty="oid" useGeneratedKeys="true">
        insert into `order`(uname, total,addr,tel,consignee,zipcode) value ( #{uname},#{total},#{addr},#{tel},#{consignee},#{zipcode});
    </insert>
    <insert id="insertOrderDetail">
        insert into orderDetail(pid,oid,num,price) value(#{pid},#{oid},#{num},#{price})
    </insert>
    <update id="addBalanceForEuser">
        update user set balance=balance+#{change} where uname=#{uname};
    </update>
    <update id="updateYundanStatusAsComplete">
        update orderDetail set yundanStatus="已送达" where yundan=#{yundan};
    </update>
    <update id="updateOrderDetailSetFahuo">
        update orderDetail
set yundanStatus = "正在运送", yundan = #{yundan}
where oid = #{oid} and pid in (select pid
                           from product
                           where sellerName = #{sellerName});
    </update>
    <select id="selectYundansByUnameStatus" resultMap="yundanInfoMap">
        select
        distinct orderDetail.yundan,order.consignee,order.tel,order.addr
        from `user`
        left join `order` on user.uname = `order`.uname
        left join orderDetail on `order`.oid = orderDetail.oid
        where user.uname = #{uname} and yundanStatus = #{yundanStatus} <if test=" minTime != null">and time > #{minTime}</if>
        order by time DESC
--         limit 0, 5;
    </select>
    <select id="selectYundanDetailsByYundan" resultType="com.arloor.emarket.model.YundanDetail">
select
  `order`.time,
  product.pid,
  product.pname,
  product.pinfo,
  product.imageURL,
  orderDetail.num,
  orderDetail.price,
  orderDetail.yundanStatus
from `user`
  left join  `order` on user.uname = `order`.uname
  left join orderDetail on `order`.oid = orderDetail.oid
  left join product on product.pid = orderDetail.pid
where yundan=#{yundan} order by  time DESC
    </select>
    <select id="selectCountTotalPriceByYundan" resultType="java.lang.Double">
        select sum(price) from orderDetail where yundan=#{yundan};
    </select>
    <select id="selectSellerNameByYundan" resultType="java.lang.String">
        select distinct product.sellerName from orderDetail left join product on product.pid=orderDetail.pid where yundan=#{yundan};
    </select>

    <select id="selectSellerOrderInfo" resultMap="forSellerOrderInfo">
select
  `order`.oid,
  product.sellerName,
  orderDetail.yundan,
  orderDetail.yundanStatus,
  `order`.time,
  `order`.addr,
  `order`.consignee,
  `order`.tel,
  product.pid,
  product.pname,
  product.imageURL,
  orderDetail.num,
  orderDetail.price
from orderDetail
  left join `order` on `order`.oid = orderDetail.oid
  left join product on product.pid = orderDetail.pid
where product.sellerName = #{sellerName} and orderDetail.yundanStatus = #{yundanStatus};
    </select>
</mapper>